# Build output
bin/
obj/


# Visual Studio
.vs/
*.user
*.suo

# Generated documentation
Documentation/

# Upgrade logs
UpgradeLog*.htm

# Replit internals
.cache/
.replit
replit.nix
zipFile.zip

# Misc
d
exit
